*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.first{
    display: flex;
   
}

.logo{
    width: 250px;
    height: 56px;
    margin: 5px;
}
.logo img{
 width: 100%;
 margin-top: 6px;
}

#Search{
   
    width: 550px;
    align-items: center;
    margin-left: 35px;
    padding-left: 20px;
    display: flex;
}

#Search input{
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
   margin-top: 3px;
   height: 30px;
   font-size: 15px;
   /* border-radius: 4px; */
   text-indent: 15px;
   margin-left: 20px;
}

#Search img{
    margin-top: 8px;
    height: 25px;
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}

#Search div{
    margin-left: 10px;
}

.pages{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-evenly;
}

.pages img{
    /* margin-left: 35px; */
    text-align: center;
    margin-right: 4px;
}

.fp{

    font-size: 14px;
    line-height: 20px;
    color: #636363;
    margin-right: 10px;
}
.overlay{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
   height: 100vh;
   position:fixed;
   top: 0;
   z-index: -1;
   opacity: 0;
   transition: 1s;
}

.arrow{
    display: inline-flex;
    width: 10px;
    font-weight: bolder;
   
}
.arrow:hover{
    transform: rotate(180deg);
}


.menu-bar{
    margin-left: 20px;
   
  
  
}


#no-items{
    
    /* margin-left: 150px; */
    margin-top: -100;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

.sub-menu-part1 div{
    margin-top: -20px;
    margin-left: 30px;
}

.sub-menu-part1{
    display: none;
    margin-top: 10px;
    margin-left: -220px;
    padding: 10px;
}

.sub-menu-part1 h5{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.sub-menu-part1 p{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: bolder;
}

.sub-menu-part1 .li{
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
}

.sub-menu-part1 button{
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
    width: 282px;
    height: 32px;
    margin-top: 20px;
    border: 1px solid #0063b8;
    color: #0672cb;
}
.sub-menu-part1 button a{
   color: #0672cb;
   
}

#signin-btn{
    background-color: #0672cb;
    border: 1px solid #0063b8;
}


#signin-btn a{
    color: white;
}
.menu-bar ul li:hover .sub-menu-part1{
    display: block;
    position: absolute;
    /* margin-top: 15px; */
   
   
    background-color: white;
    box-shadow: 0 0 3px 3px grey;
}
.menu-bar ul li:hover .sub-menu-part1:nth-child(3){
    box-shadow: 0;
    width: 50px;
}
.menu-bar ul li:hover .sub-menu-part1 ul{
    display: block;
    margin: 10px;
    padding: 10px;
   
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
    font-size: 15px;
}

.menu-bar ul li{
    margin-left: 20px;
    padding: 10px;  
}

.menu-bar ul li a{
    text-decoration: none;
    color: #636363;
}

.sub-menu-1{
    display: none;
    margin-top: 10px;
    margin-left: -20px;
}

.sub-menu-1 p{
   /* margin-top: 10px; */
    padding: 12px;
    font-size: 14px;
    margin-left: 5px;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    /* margin-top: 15px; */
   
    background-color: white;
    box-shadow: 0 0px 3px 3px grey;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    padding: 10px;
   
}

/* third */



.slidediv{
    width: 100px;
    height: 100px;  
    transition: 0.5s;
    
  }
  
.slidediv:hover{
    transform: translateY(-50px);
}
.slidediv:hover p{
    opacity: 1;
    transition: ease ease-in-out 0.5s;
}
.slidediv:hover .compo-img img{
    opacity: 0;
    transition:ease-in-out 0.3s;
}


span.hidden {
    position:static;
    bottom: -38px;
    left: 263px;
    width: 100px;
    height: 100px;
    transition: 0.3s;
  }
  span.hidden p{
    opacity: 0;
    font-size: 16px;
    color: #0672cb;
  }

  

.compo-items{
    display: flex;
    width: 70%;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    padding: 25px;
    
}


.compo-items div p{
    margin-top: 10px ;
}

.compo-img{
    width: 40px;
    margin: auto;
}

.compo-img img{
    width: 70%;
}



/* Main section */

/* first Container */

.republic{
    display: flex;
    width: 100%;
    align-items: center;
    
}

.data{
    width: 50%;
    padding: 30px;
    
}

.data p{
    font-size: 20px;
    line-height: 28px;
  
}

.data h2{
    font-size: 40px;
    line-height: 48px;
    color: #636363;
    font-weight:lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data button{
    width: 112px;
    height: 48px;
    font-size: 15px;
    font-weight: 500px;
    line-height: 24px;
    background-color: #0063b8;
    border: none;
    color: white;
    border-radius: 2px;
    margin-top: 25px;
}

#btn1{
    width: 112px;
    height: 48px;
    font-size: 15px;
    font-weight: 500px;
    line-height: 24px;
    background-color: white;
    border: 1px solid #0063b8;
    color: #0063b8;
    border-radius: 2px;
    margin-top: 25px;
    margin-left: 20px;
}
.data-img{
    width: 50%;
}

.data-img img{
    width: 100%;
}


.welcome{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;

}

.heading3{
    font-size: 32px;
    line-height: 40px;
    padding: 10px;
    font-weight: lighter;
    color: #000;
}

.imgdiv{
    display: flex;
    height: 150px;
}
.imgdiv div{
    width: 90px;
}

.imgdiv img{
    width: 100%;
    margin-top: 20px;
}

#head5{
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
    font-weight: lighter;
    margin-top: 20px;
}

.heading5 h5{
    font-size: 20px;
    line-height: 28px;
    padding: 20px;
    font-weight: lighter;
}

.heading5{
    height: 150px;
}

.welcome div p{
    font-size: 20px;
    line-height: 28px;
    color: #0672cb;
    margin-left: 15px;
    margin-bottom: 15px;
}

.shadow{
    box-shadow: 1px 1px 1px grey;
    width: 33%;
}

#h3{
    font-size: 32px;
    line-height: 40px;
    color: #444444;
    font-weight: lighter;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* third container */

.inspiron{
    display: flex;
    justify-content: space-evenly;
}

.inspiron #ins-img{
    width: 45%;
}

#ins-img img{
    width: 100%;
}

.ins-data{
    width: 45%;
    justify-content: center;
    
}

.ins-data #ins-p1{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #0a0809;
    margin-top: 130px;
    margin-bottom: 20px;
}

.ins-data h3{
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: normal;
    margin-bottom: 20px;
    
}

.ins-data h5{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: normal;
    margin-bottom: 20px;

}


.ins-data p{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#ins-span{
    display: flex;
}


#ins-span h5{
    font-size: 20px;
    line-height: 28px;
    color: #0672cb;
    
    
}

#ins-span span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: lighter;
   
}

#h51{
    margin-left: 200px;
}


/* fourth container */
.Alienware{
    display: flex;
    justify-content: space-evenly;
}

.Alienware #ali-img{
    width: 45%;
}

#ali-img img{
    width: 100%;
}

.ali-data{
    width: 45%;
    justify-content: center;
    
}

.ali-data #ali-p1{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #0a0809;
    margin-top: 130px;
    margin-bottom: 20px;
}

.ali-data h3{
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: normal;
    margin-bottom: 20px;
    
}

.ali-data h5{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: normal;
    margin-bottom: 20px;

}


.ali-data p{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#ali-span{
    display: flex;
}


#ali-span h5{
    font-size: 20px;
    line-height: 28px;
    color: #0672cb;
    
    
}

#ali-span span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: lighter;
   
}

#ali-h51{
    margin-left: 200px;
}

div #count{
    background-color: #0063b8;
    color: aliceblue;
    width: 10px;
    margin-right: 10px;
}


.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* .menu-bar ul li a:hover+.sub-menu-1,
.menu-bar ul li a:hover+.sub-menu-part1{
    display: block;
}

.menu-bar ul li a:hover+.sub-menu-1,
.menu-bar ul li a:hover+.sub-menu-part1{
    display: block;
}

.menu-bar ul li a:hover+.sub-menu-1,
.menu-bar ul li a:hover+.sub-menu-part1{
    display: block;
}

.menu-bar ul li a:hover+.sub-menu-1,
.menu-bar ul li a:hover+.sub-menu-part1,
.menu-bar ul li a:hover+.overlay{
    display: block;
} */
